(
    // Cooks.
    [
        (
            name: "Chicco",
            contr: Player,
        ),
        (
            name: "Stefano",
            contr: Player,
        ),
        (
            name: "Dani",
            contr: Cpu,
        ),
        (
            name: "Sans",
            contr: Cpu,
        ),
    ],
    // Judges.
    [
        (
            name: "Sans",
        ),
        (
            name: "Doge",
            article: "Il",
        ),
        (
            name: "Ratto",
            article: "Il",
        ),
        (
            name: "Duce",
            article: "Il",
        ),
        (
            name: "Stoick",
        ),
        (
            name: "Formichiere",
            article: "Il",
        ),
        (
            name: "Shaw",
        ),
        (
            name: "Ibra",
        ),
    ]
)
