(
    // Cooks.
    [
        (
            name: "Chicco",
            gender: Male,
            contr: Player,
        ),
        (
            name: "Stefano",
            gender: Male,
            contr: Player,
        ),
        (
            name: "Dani",
            gender: Male,
            contr: Cpu,
        ),
        (
            name: "Sans",
            gender: Male,
            contr: Cpu,
        ),
    ],
    // Judges.
    [
        (
            name: "Ratto",
            article: "Il",
        ),
        (
            name: "Ibra",
        ),
    ]
)
